body {
  margin: 0;
 
}
html, body { 
  /* default is 1rem or 16px */ 
  font-size: 16px !important; 
  font-family: "Gill Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  height: 100vh;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-nav .dropdown-menu{
  background-color:#dc3545;
}

.margin-left-right{
  margin:10px 2em 10px 2em;
}


input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(21.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 15px;
}
